/* register.css */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eaf8fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container {
  background: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: flex;
  overflow: hidden;
  max-width: 900px;
  width: 100%;
}

.register-box {
  display: flex;
  width: 100%;
}

.register-left {
  flex: 1;
  padding: 50px 40px;
}

.register-left h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #0a375b;
}

.register-left p {
  margin-bottom: 30px;
  color: #666;
}

.register-left form {
  display: flex;
  flex-direction: column;
}

.register-left label {
  margin-bottom: 6px;
  color: #333;
  font-weight: bold;
}

.register-left input {
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.register-left button {
  padding: 12px;
  background-color: #0079aa;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.register-left button:hover {
  background-color: #005f85;
}

.register-links {
  margin-top: 16px;
  font-size: 14px;
}

.register-links a {
  color: #0079aa;
  text-decoration: none;
}

.register-links a:hover {
  text-decoration: underline;
}

.register-right {
  flex: 1;
  background-color: #9edff1 ; /* más azul para que destaque el logo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-right img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  padding: 20px;
}
